<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/event_dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/event_dashboard.js"></script>
    </script>
  </head>
  <body>
    <%= erb :nav %>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Participants</h3>
          <div class="participants">
            <% @event.approved.each do |participant| %>
              <div class="participant">
                <img class="img-circle" src="<%= participant.user.img_path%>">
                <div>
                  <p><%= participant.user.fullName%> <span class="participant-age">(<%= participant.user.age%>)</span></p>
                  <!-- <p class="participant-username">@garynil</p> -->
                  <p class="participant-location"><%= participant.user.city%>,<%= participant.user.country%></p>
                  <p class="participant-rating">
                    <% participant.user.rate.times do |i| %>
                      <span class="star glyphicon glyphicon-star"></span>
                    <% end %>
                    <% (5 - participant.user.rate).times do |i| %>
                      <span class="star glyphicon glyphicon-star-empty"></span>
                    <% end %>
                  </p>
                </div>
                <div class="participant-role">
                  <%if participant.isShopper? %>
                  <span class="shopper-role">
                    <img class="role-img" src="/img/role-1.png">
                  </span>
                  <p class="role-name">Shopper</p>
                  <%elsif participant.isChef? %>
                  <span class="chef-role">
                    <img class="role-img" src="/img/role-2.png">
                  </span>
                  <p class="role-name">Chef</p>
                  <%elsif participant.isHelper? %>
                  <span class="helper-role">
                    <img class="role-img" src="/img/role-3.png">
                  </span>
                  <p class="role-name">Helper</p>
                  <%elsif participant.isGuest? %>
                  <span class="guest-role">
                    <img class="role-img" src="/img/role-4.png">
                  </span>
                  <p class="role-name">Guest</p>
                  <%else participant.isCleaner? %>
                  <span class="cleaner-role">
                    <img class="role-img" src="/img/role-5.png">
                  </span>
                  <p class="role-name">Cleaner</p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-8">
          <span class="event-id hidden"><%= @event.id %></span>
          <span class="user-name-age hidden"><%= @user_id%>(<%=@current_user['age']%>)</span>
          <h2 class="event-title"><%= @event.name %></h2>
          <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation dashboard" ><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion</a></li>
            <li role="presentation dashboard" ><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Event Detail</a></li>
            <li role="presentation dashboard" class="active"><a href="#request" aria-controls="request" role="tab" data-toggle="tab">Request</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="discussion">
              <div class="input-post">
                <img class="img-circle" src="<%= @current_user['img']%>" alt="">
                <input type="text" id="txt_post" placeholder="Write your post here..." >
              </div>
              <div class="discussion-board">
                <% if @posts %>
                <% @posts.each do |post|%>
                  <div class="post ">
                    <div class="usr-post">
                      <img class="img-circle" src="<%= post.user.img_path%>" class="usr-post-img" alt="">
                      <p class="usr-post-name"><%= post.user.fullName%><span class="usr-post-age">(<%= post.user.age%>)</span></p>
                    </div>
                    <div class="usr-post-text-div">
                      <p class="usr-post-text"><%= post.post%></p>
                    </div>
                <%end%>
                <%end%>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="detail">
              <div class="detail-main">
                <p class="subtitle-tag">Event Details</p>
                <p class="detail-sub-title">
                  <span class="detail-date"><%=@event.date.strftime("%Y-%m-%d")%></span>
                  <span class="detail-time"><%=@event.date.strftime("%l:%M %p")%></span>
                  <span class="glyphicon glyphicon-map-marker detail-location-icon location-icon"></span>
                  <a target="_blank" href="https://www.google.com.tw/maps/search/Taipei%20city?hl=en&source=opensearch" class="detail-location"><%= @event.location %></a>
                </p>
                <div class="detail-event-availability">
                  <% value = @event.totalParticipants.size / 4 %>
                  <% if @event.approved_count >= value * 4 %>
                    <img src="/img/par-4-4.png" alt="">
                  <% elsif @event.approved_count >= value * 3%>
                    <img src="/img/par-3-4.png" alt="">
                  <% elsif @event.approved_count >= value * 2%>
                    <img src="/img/par-2-4.png" alt="">
                  <% elsif @event.approved_count >= value * 1%>
                    <img src="/img/par-1-4.png" alt="">
                  <% else %>
                    <img src="/img/par-0-4.png" alt="">
                  <% end %>
                  <p><span class="detail-approved"><%= @event.approved.size %></span>/<span class="detail-total"><%= @event.totalParticipants %></span></p>
                </div>
              </div>
              <div class="detail-menu">
                <p class="subtitle-tag">Menu</p>
                <div class="dishes">
                  <% @event.menus.each_with_index do |menu,index| %>
                    <div class="dish">
                      <img class="center-cropped" src="<%= menu.img_path %>" class="dish-img center-cropped" alt="">
                      <p class="dish-name"><%= menu.name %></p>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="detail-location-text">
                <p class="subtitle-tag">Location</p>
                <!-- Google Maps Plugin -->
              </div>

            </div>
            <div role="tabpanel" class="tab-pane active" id="request">
              <div class="requests">
                <% if @pending_request %>
                <% @pending_request.each do |request| %>
                <div class="request">
                  <span class="request-user-id hidden"><%= request.user.id %></span>
                  <div class="usr-request">
                    <img class="img-circle" src="<%= request.user.img_path%>">
                    <div>
                      <p><%= request.user.fullName %> <span class="request-age">(<%= request.user.age %>)</span></p>
                      <!-- <p class="request-username">@garynil</p> -->
                      <p class="request-location"><%= request.user.city %>, <%= request.user.country %></p>
                      <p class="request-rating">
                        <% request.user.rate.times do |i| %>
                          <span class="star glyphicon glyphicon-star"></span>
                        <% end %>
                        <% (5 - request.user.rate).times do |i| %>
                          <span class="star glyphicon glyphicon-star-empty"></span>
                        <% end %>
                      </p>
                    </div>
                  </div>
                  <div class="usr-request-text">
                    <p><%= request.message %></p>
                  </div>
                  <div class="usr-request-options">
                    <div class="requested-roles">
                      <%if request.isShopper? %>

                        <a href=""><div class="requested-role">
                          <span class="shopper-role">
                            <img class="role-img" src="/img/role-1.png">
                          </span>
                          <p class="role-name">Shopper</p>
                        </div></a>

                      <%elsif request.isChef? %>

                        <a href=""><div class="requested-role">
                          <span class="chef-role">
                            <img class="role-img" src="/img/role-2.png">
                          </span>
                          <p class="role-name">Chef</p>
                        </div></a>

                      <%elsif request.isHelper? %>

                      <a href=""><div class="requested-role">
                        <span class="helper-role">
                          <img class="role-img" src="/img/role-3.png">
                        </span>
                        <p class="role-name">Helper</p>
                      </div></a>

                      <%elsif request.isGuest? %>

                      <a href=""><div class="requested-role">
                        <span class="guest-role">
                          <img class="role-img" src="/img/role-4.png">
                        </span>
                        <p class="role-name">Guest</p>
                      </div></a>

                      <%else request.isCleaner? %>

                      <a href=""><div class="requested-role">
                        <span class="cleaner-role">
                          <img class="role-img" src="/img/role-5.png">
                        </span>
                        <p class="role-name">Cleaner</p>
                      </div></a>

                      <% end %>


                    </div>
                    <div class="request-buttons">
                      <button class="btn btn-default btn-reject" type="button" name="button">Reject</button>
                      <button class="btn btn-default btn-accept" type="button" name="button">Accept</button>
                    </div>
                  </div>
                </div>
                <% end %>
                <% end %>


              </div>
            </div>
          </div>
        </div>
        </div>

      </div>
    </div>
  </body>
</html>
