<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/homepage.js">
  </script>
</head>
<body>

  <!-- EVENT MODAL -->
  <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="event-modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <div class="col-lg-2">
            <p class="host-tag">Host</p>
            <img class="modal-host-img" src="" alt="">
            <p class="modal-host-name"> <span class="modal-host-age"> (23)</span></p>
            <!-- <p class="modal-host-username">@alliekrchang</p> -->
            <p class="modal-host-location">Taipei, Taiwan</p>
            <p class="modal-host-stars"></p>
          </div>
          <div class="col-lg-10">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title" id="event-modal">Title</h3>
              <p class="modal-sub-title">
                <span class="modal-date"></span>
                <span class="modal-time"></span>
                <span class="glyphicon glyphicon-map-marker modal-location-icon location-icon"></span>
                <a target="_blank" href="https://www.google.com.tw/maps/search/Taipei%20city?hl=en&source=opensearch" class="modal-location"></a>

              </p>
              <div class="modal-event-availability">
                <img src="img/par-1-4.png" alt="">
                <p><span class="modal-joined">2</span>/<span class="modal-total">3</span></p>
              </div>
            </div>
            <p class="subtitle-tag">Participants</p>
            <span class="modal-roles">
              <div class="modal-role">
                <a href="">
                <span class="shopper-role">
                  <img class="role" src="img/role-1.png">
                </span>
                <p class="role-name">Shopper</p>
                <p class="role-quantity shopper" >(0/3)</p>
                </a>
              </div>
              <div class="modal-role">
                <a class="" href="">
                <span class="chef-role">
                  <img class="role" src="img/role-2.png">
                </span>
                <p class="role-name ">Chef</p>
                <p class="role-quantity chef" >(0/2)</p>
                </a>
              </div>
              <div class="modal-role">
                <a class="" href="">
                <span class="helper-role">
                  <img class="role" src="img/role-3.png">
                </span>
                <p class="role-name">Helper</p>
                <p class="role-quantity helper" >(0/1)</p>
                </a>
              </div>
              <div class="modal-role">
                <a class="" href="">
                <span class="guest-role">
                  <img class="role" src="img/role-4.png">
                </span>
                <p class="role-name">Guest</p>
                <p class="role-quantity guest" >(0/1)</p>
                </a>
              </div>
              <div class="modal-role">
                <a class="" href="">
                <span class="cleaner-role">
                  <img class="role" src="img/role-5.png">
                </span>
                <p class="role-name">Cleaner</p>
                <p class="role-quantity cleaner" >(0/1)</p>
                </a>
              </div>
            </span>
            <div class="popover-roles">
              <div class="popover bottom">
                <div class="arrow" style="left: 5.5%"></div>
                <div class="popover-content">
                  <div class="participant">
                    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56">
                    <div class="">
                      <p>Eduardo Salazar <span class="participant-age">(22)</span></p>
                      <p class="participant-username">@garynil</p>
                      <p class="participant-location">Taipei, Taiwan</p>
                      <p class="participant-rating">
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                      </p>
                    </div>
                  </div>
                  <div class="participant">
                    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56">
                    <div class="">
                      <p>Eduardo Salazar <span class="participant-age">(22)</span></p>
                      <p class="participant-username">@garynil</p>
                      <p class="participant-location">Taipei, Taiwan</p>
                      <p class="participant-rating">
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                      </p>
                    </div>
                  </div>
                  <div class="participant">
                    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56">
                    <div class="">
                      <p>Eduardo Salazar <span class="participant-age">(22)</span></p>
                      <p class="participant-username">@garynil</p>
                      <p class="participant-location">Taipei, Taiwan</p>
                      <p class="participant-rating">
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                      </p>
                    </div>
                  </div>
                  <div class="participant">
                    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56">
                    <div class="">
                      <p>Eduardo Salazar <span class="participant-age">(22)</span></p>
                      <p class="participant-username">@garynil</p>
                      <p class="participant-location">Taipei, Taiwan</p>
                      <p class="participant-rating">
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="subtitle-tag">Menu</p>
            <div class="dishes">
              <div class="dish">
                <img src="https://www.rhodesbread.com/images/recipes/MediterraneanPizzaLarge.jpg" class="dish-img center-cropped" alt="">
                <p class="dish-name">Meat Pizza</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Join the event</button>
          </div>
        </div>

      </div>
    </div>
  </div>
<!-- END OF MODAL-->





  <%= erb :nav %>
<div class="container filters">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Location
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Role
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Host Rating
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
      </ul>
    </div>
</div>
<div class="container events">
  <div class="row"> <!--class="row" -->
    <!--class="col-lg-6 col-md-6 col-sm-12 "-->
    <% if @events %>
    <% @events.each_with_index do |event,index| %>
      <a data-event-id="<%=index%>" class="event-card" href=""><div class="thumbnail right-caption">

        <img class="center-cropped " src="<%= event.img_path%>">
        <div class="caption">
          <div id="hidden-info" class="hidden">
            <span class="event-joined"><%= event.joined%></span>
            <span class="event-total"><%= event.totalParticipants%></span>
            <span class="event-shopper"><%= event.shopper%></span>
            <span class="event-chef"><%= event.chef%></span>
            <span class="event-helper"><%= event.helper%></span>
            <span class="event-guest"><%= event.guest%></span>
            <span class="event-cleaner"><%= event.cleaner%></span>
            <span class="event-shopper-joined"><%= event.shopper_joined%></span>
            <span class="event-chef-joined"><%= event.chef_joined%></span>
            <span class="event-helper-joined"><%= event.helper_joined%></span>
            <span class="event-guest-joined"><%= event.guest_joined%></span>
            <span class="event-cleaner-joined"><%= event.cleaner_joined%></span>
            <span class="event-menu">Hola hola </span>

            <div class="event-menus">
              <% event.menus.each_with_index do |menu,index| %>
                <div id="dish-<%= index%>" class="dish">
                  <img src="<%= menu.img_path %>" class="dish-img center-cropped" alt="">
                  <p class="dish-name"><%= menu.name %></p>
                </div>
              <% end %>
            </div>

            <div>
            </div>
          </div>
          <h3><%= event.name.gsub(/^(.{60,}?).*$/m,'\1...') %></h3>
          <h3 class="event-title hidden"><%= event.name %></h3>
          <span class="date"><%=event.date.strftime("%Y-%m-%d")%></span> <span class="time"><%=event.date.strftime("%l:%M %p")%></span>
          <span class="glyphicon glyphicon-map-marker location-icon"></span><span class="location"><%= event.location.split(',').last %></span>
          <br>
          <span class="host_by">Hosted by</span>
          <span class="host-img">
            <img class="" src="<%= event.host.img %>" alt="">
          </span>
          <span class="host-name"><%= event.host.fullName.gsub(/^(.{20,}?).*$/m,'\1...')%></span>
          <span class="host-name-full hidden"><%= event.host.fullName%></span>
          <span class="host-age hidden"><%= event.host.age%></span>
          <span class="stars">
              <% event.host.rate.times do |i| %>
                <span class="star glyphicon glyphicon-star"></span>
              <% end %>
              <% (5 - event.host.rate).times do |i| %>
                <span class="star glyphicon glyphicon-star-empty"></span>
              <% end %>

          </span>
          <br>
          <span class="roles">
            <% if event.shopper > 0 %>
              <img class="role" src="img/role-1.png">
            <% end %>
            <% if event.chef > 0 %>
              <img class="role" src="img/role-2.png">
            <% end %>
            <% if event.helper > 0 %>
              <img class="role" src="img/role-3.png">
            <% end %>
            <% if event.guest > 0 %>
              <img class="role" src="img/role-4.png">
            <% end %>
            <% if event.cleaner > 0 %>
              <img class="role" src="img/role-5.png">
            <% end %>
          </span>
          <span class="event-availability pull-right">
            <% value = event.totalParticipants.size / 4 %>
            <% if event.joined >= value * 4 %>
              <img src="img/par-4-4.png" alt="">
            <% elsif event.joined >= value * 3%>
              <img src="img/par-3-4.png" alt="">
            <% elsif event.joined >= value * 2%>
              <img src="img/par-2-4.png" alt="">
            <% elsif event.joined >= value * 1%>
              <img src="img/par-1-4.png" alt="">
            <% else %>
              <img src="img/par-0-4.png" alt="">
            <% end %>

            <p><span><%= event.participants.size %></span>/<span><%= event.totalParticipants %></span></p>
          </span>
        </div>
      </div>
    </a>
    <% end %>
    <% end %>

  </div>

</div>

</body>
</html>
